img {
 margin-left: 2.5em;
}

H1 {
 font-size:26pt;
 font-family:Verdana,sans-serif;
 font-weight:bold;
 color:blue;
 margin-top: 0.2em;
}

H2 {
 font-size:24pt;
 font-family:Verdana,sans-serif;
 font-weight:bold;
 color:yellow;
 color:darkblue;
 background: #0080ff;
 background: #d0f8ff;
 padding: 0.3em 1em 0.3em;
 border-style: outset;
 border-color: darkblue;
 border-width: 4pt;
}

H3 {
 font-size: 20pt;
 font-family: Verdana,sans-serif;
 font-weight: bold;
 color: #003000; 
 background: #B0FBB0;
 padding: 0.3em 1em 0.3em;
 border-style: none none outset;
 border-color: green;
 border-width: 2pt;
 margin-top: 1.0em;
}

H4 {
 color:darkblue;
 font-size: 18pt;
 font-weight: bold;
 padding: 0em 0em 0em;
 margin: 0.5em 0.7em 0em;
}

UL {
 font-size:16pt;
 font-family:Arial,sans-serif;
 font-weight:normal;
 width: 880px;
}

OL {
 font-size:16pt;
 font-family:Arial,sans-serif;
 font-weight:normal;
 width: 880px;
}

LI {
 margin-left: 15pt;
 margin-bottom: 3pt;
}

BODY {
  background-color: #ffffff;
  font-size:16pt;
/* line-height:18pt; */
  font-family:Arial,sans-serif;
  font-weight:normal;
  width:1000px;
}

CODE {
  font-size:16pt;
  font-family:Arial,sans-serif;
  font-weight:normal;
}

PRE.ref {
/*  line-height: 120%; */
  background: #ffffcc;
  padding: 0.5em;
  border: thin outset #d8e0d0;
  margin-left: 25pt;
  margin-right: 20pt;
  width: 850px;
}

.rep {
  background: #EAFFFF;
  padding: 0.3em 0.8em 0em;
  border-width: 0.4em;
  border-style: double double double double;
  margin-left: 10pt;
  margin-right: 10pt;
  width: 920px;
}

P {
 margin-left: 1.2em;
 width: 900px;
 margin-top: 5px;
 margin-bottom: 7px;
 margin-left: 30px;
}

P.sub {
 font-size: small; 
/*  line-height: 14pt; */
 margin-left: 50px;
 width: 850px;
}

PRE.refsub {
  font-size: small; 
/* line-height: 100%; */
  background: #ffffcc;
  padding: 0.5em;
  border: thin outset #d8e0d0;
  margin-left: 65px;
  margin-right: 20px;
  align: left;
  width: 800px;
}

FORM {
 margin-left: 1.5em;
}

TABLE {
 margin-left: 2em;
}

TH {
  text-align: center;
}  

TD {
  text-align: center;
}
  
div.hide {
    display: none; 
    margin-top: 16px;
}

span.b {
 font-weight:bold;
 color:red;
}
